<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avg.Communications" version="2.4.0" targetFramework="net472" />
  <package id="Avg.ModuleFramework" version="2.1.0" targetFramework="net472" />
  <package id="Crestron.SimplSharp.SDK.Library" version="2.21.237" targetFramework="net472" />
  <package id="Crestron.SSharp" version="1.0.0" targetFramework="net472" />
</packages>